{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

    <h1>About</h1>
    <p>Hello all my fellas!</p>

    <div class="row">
        <div class="column">
            <h3>What you need to know</h3>
            <p>Here be text</p>
        </div>

        <div class="column">
            <h3>Links</h3>
            <li><a href="https://github.com/dbwebb-se/mvc">Dbwebb MVC Github</a></li>
            <li><a href="https://github.com/Hofvan/mvc-">thhf23 MVC Github</li>
        </div>
    </div>

{% endblock %}