{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <img class="resized center" src="{{ asset('img/OOP.jpg') }}" alt="OOP concept">

    <div class="row">
        <div class="column">
            <h3>About MVC</h3>
            <p>The course Objektorienterade webbteknologier, aka mvc, is focused on object oriented programming in the PHP programming language. The classical object-oriented constructions are handled together with object-oriented programming in a web-based framework alongside databases and unit testing.</p>
        </div>

        <div class="column">
            <h3>Links</h3>
            <li><a href="https://github.com/dbwebb-se/mvc">Dbwebb MVC Github</a></li>
            <li><a href="https://github.com/Hofvan/mvc-">thhf23 MVC Github</li>
        </div>
    </div>
{% endblock %}