{% extends "base.html.twig" %}

{% block title %}Main{% endblock %}

{% block body %}
    <h1>Welcome!</h1>
    <p>Hello! My name is Theo H, i am the creator of this site.</p>
    <p>I'm 21 and a student at BTH, things are a bit rocky but we push on!</p>
    <p>I dont like writing presentations about myself, i can never come up with anything to say.</p>
    <img class="resized center" src="{{ asset('img/migbild3.jpg') }}" alt="picture of creator">
{% endblock %}